<ng-container *ngIf="searchBox">
  <div class="search-container">
    <input matInput type="search" class="form-control search-box" placeholder="جستجو"
      (input)="onSearchChange($event.target.value)" />
  </div>
  <hr>
</ng-container>

<div class="simple-table mt-3">
  <div class="t-head">
    <div *ngIf="tdata && tdata.length>0;" class="th" [style.width.px]="50">#</div>
    <div *ngIf="tdata && tdata.length>0 && hasChildExpand" class="th" [style.width.px]="50"></div>
    <div *ngIf="tdata && tdata.length>0 && isPrint" class="th" [style.width.px]="50"></div>
    <div class="th text-center {{col.headerClass}}" *ngFor="let col of _header; let i = index"
      [style.width.px]="iHeader[i].width">
      {{ col.value }}
    </div>
  </div>
  <div class="t-body h-auto overflow-auto" [style.minHeight.px]="350" [style.maxHeight.px]="350">
    <ng-container *ngIf="tdata && tdata.length>0; then showData else showHint"></ng-container>
    <ng-template #showData>
      <ng-container *ngFor="let item of tdata; let i = index">
        <div class="tr" (click)="onRowClick(i, item)" [ngClass]="{'active': selectedIndex == i}">
          <div class="td" [style.width.px]="50">{{ ((pageIndex - 1) * _pageSize) + i+1 }}</div>
          <div class="td" [style.width.px]="50" *ngIf="hasChildExpand" (click)="onExpand(i)"><i
              class="link m-0 fas fa-arrow-down"></i></div>
          <div class="td" [style.width.px]="50" *ngIf="isPrint" (click)="onPrint(i)"><i
              class="link m-0 fas fa-print"></i></div>
          <div class="td text-center {{getClassName(colI)}}-column backgroud-color"
            *ngFor="let col of getCols(item), let colI = index" (click)="onColClick(null, colI, i)"
            [style.width.px]="iHeader[colI].width">
            <span *ngIf="isArray(col)==false && col!=undefined && col!=null && col!=''"
              style="font-size: 9pt; vertical-align:middle">
              {{col}}
            </span>

            <div style="height: auto" *ngIf="isArray(col) && col!=undefined && col!=null && col!=''">
              <div *ngFor="let val of col" (click)="onColClick(val, colI, i);$event.stopPropagation()"
                [ngStyle]="{'background-color': val.color}" class="border">
                {{val.time}}
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="item.detail && item.detail.show" class="child">
          <div class="simple-table detail mt-3">
            <div class="t-head">
              <div *ngIf="item.detail.data && item.detail.data.length>0;" class="th" [style.width.px]="50">#</div>
              <div
                class="th text-center {{colD.headerClass != undefined && colD.headerClass != null ? colD.headerClass : ''}}"
                *ngFor="let colD of item.detail.header;" [style.width.px]="colD.width">
                {{ colD.headerName }}
              </div>
            </div>
            <div class="t-body h-auto overflow-auto">
              <ng-container
                *ngIf="item.detail.data && item.detail.data.length>0; then showDataDetail else showHintDetail">
              </ng-container>
              <ng-template #showDataDetail>
                <ng-container *ngFor="let itemD of item.detail.data; let iD = index">
                  <div class="tr" (click)="selectedDetailIndex = iD" [ngClass]="{'active': selectedDetailIndex == iD}">
                    <div class="td" [style.width.px]="50">{{iD+1}}</div>
                    <div
                      class="td text-center {{colID.headerClass != undefined && colID.headerClass != null ? colID.headerClass : ''}}-column"
                      *ngFor="let colD of getColsDetail(item.detail, iD), let colID = index"
                      [style.width.px]="item.detail.header[colID].width">
                      <span style="font-size: 9pt; vertical-align:middle">
                        {{colD}}
                      </span>
                    </div>
                  </div>
                </ng-container>
              </ng-template>

              <ng-template #showHintDetail>
                <h6 class="text-warning text-center m-5">رکوردی برای نمایش وجود ندارد</h6>
              </ng-template>
            </div>
          </div>
        </div>

      </ng-container>

    </ng-template>

    <ng-template #showHint>
      <h6 class="text-warning text-center m-5">رکوردی برای نمایش وجود ندارد</h6>
    </ng-template>
  </div>
</div>
<ul class="paginator" *ngIf="pageCount>1">
  <li (click)="setPager(false, 0)"><i class="fa fa-angle-double-right p-0"></i></li>
  <li (click)="setPager(false, -1)"><i class="fa fa-angle-right p-0"></i></li>
  <li *ngFor="let n of pager" (click)="setPage(n)" class="p-0" [ngClass]="{'active': n == pageIndex}">{{n}}</li>
  <li (click)="setPager(true, -1)"><i class="fa fa-angle-left p-0"></i></li>
  <li (click)="setPager(false, pageCount-1)"><i class="fa fa-angle-double-left p-0"></i></li>
</ul>