<page-container title="فیلدها" *ngIf="columnDefs">
  <prm-button
    label="افزودن"
    icon="fa fa-plus"
    color="success"
    (click)="addAttribute()"
  >
  </prm-button>
  <ag-table
    [rowData]="rowData$ | async"
    [columnDefs]="columnDefs"
    [actionsConfig]="[{
      headerName: 'افزودن مقدار اولیه',
      icon: 'fa fa-plus'
    }]"
    (actionClick)="onActionClick($event)"
    (cellValueChanged)="onCellValueChanged($event)"
  ></ag-table>
</page-container>

<p-dialog
  header="ویرایش مقادیر اولیه"
  [(visible)]="showAttributeValueDialog"
  [modal]="true"
  [draggable]="false"
  [blockScroll]="true"
  [style]="{width:'800px'}"
>
  <div [ngSwitch]="attributeType">
    <div *ngSwitchCase="'Text'">
      
    </div>
    <div *ngSwitchCase="'Text Area'">output</div>
    <div *ngSwitchCase="'Number'">output</div>
    <div *ngSwitchCase="'Date'">output</div>
    <div *ngSwitchCase="'Select'">output</div>
    <div *ngSwitchCase="'Multi Select'">output</div>
    <div *ngSwitchCase="'Checkbox'">output</div>
  </div>
  <p-footer>
    <prm-button label="ثبت" color="success"></prm-button>
    <prm-button label="انصراف" color="danger"></prm-button>
  </p-footer>
</p-dialog>
