<page-container title="فیلدها" *ngIf="columnDefs">
  <prm-button
    label="افزودن"
    icon="fa fa-plus"
    color="success"
    (click)="addAttribute()"
  >
  </prm-button>
  <ag-table
    [rowData]="rowData$ | async"
    [columnDefs]="columnDefs"
    [actionsConfig]="[{
      headerName: 'افزودن مقدار اولیه',
      icon: 'fa fa-plus'
    }]"
    (actionClick)="onActionClick($event)"
    (cellValueChanged)="onCellValueChanged($event)"
  ></ag-table>
</page-container>

<p-dialog
  header="ویرایش مقادیر اولیه"
  [(visible)]="showAttributeValueDialog"
  [modal]="true"
  [draggable]="false"
  [blockScroll]="true"
  [style]="{width:'800px'}"
>
  <div>
    <prm-input-tags
      [value]="attributeValue"
      [field]="'value'"
      (onRemove)="onRemoveTag($event)"
      (onAdd)="onAddTag($event)"
    ></prm-input-tags>
  </div>
</p-dialog>
