$pager-color :#84b1d2;
$row-hover-color :#ebeff2;
$icon-color:#c1c1c1;
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    hr {
        flex: 1;
    }
    .search-container {
        position: relative;
        display: flex;
        i.fa {
            position: absolute;
            color: $icon-color;
        }
        i.fa-search {
            top: 5px;
            right: 7px;
            font-size: 15pt;
        }
        i.fa-close {
            top: 10px;
            left: 10px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
                color: darken($color: $icon-color, $amount: 30%);
            }
        }
        input {
            flex: 1;
            padding: 3px 30px 3px 3px;
        }
    }
    .table {
        flex: 1;
        border-spacing: 0;
        border-collapse: collapse;
        thead {
            th {
                padding-bottom: 5px;
                text-align: right;
                color: #666666;
                font-weight: 600;
                vertical-align: bottom;
                border-bottom: 2px solid $row-hover-color;
            }
        }
        tbody {
            color: #797979;
            th {
                text-align: right;
                border-top: 1px solid $row-hover-color;
            }
            td {
                padding: 8px 0 3px 0;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid $row-hover-color;
            }
            tr.active,
            tr:hover {
                cursor: pointer;
                background-color: #e5f4ff !important;
            }
        }
    }
    .paginator {
        flex: 1;
        padding: 0;
        margin: 10px 0 0 0;
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            width: 20px;
            height: 20px;
            margin: 3px;
            padding: 3px;
            line-height: 23px;
            color: #000;
            text-align: center;
            cursor: pointer;
            transition: all .3s ease-in-out;
            border: 1px solid #c1c1c1;
            &.active,
            &:hover {
                background-color: #c1c1c1;
            }
        }
    }
}