<form class="form-row" [formGroup]="form">
  <ng-container
    *ngFor="let categoryAttribute of categoryAttributes"
    [ngSwitch]="attributeTypes[categoryAttribute.attributeTypeId]"
  >
    <prm-input-text
      class="col-12 mb-3"
      *ngSwitchCase="'Text'"
      [label]="categoryAttribute.attributeTitle"
      [labelWidth]="110"
      [formControlName]="categoryAttribute.attributeTitle"
    ></prm-input-text>
    <prm-input-text
      class="col-12 mb-3"
      *ngSwitchCase="'Number'"
      [numberOnly]="true"
      [label]="categoryAttribute.attributeTitle"
      [labelWidth]="110"
      [formControlName]="categoryAttribute.attributeTitle"
    ></prm-input-text>
    <prm-input-date-time-picker
      class="col-12 mb-3"
      *ngSwitchCase="'Date'"
      [label]="categoryAttribute.attributeTitle"
      [labelWidth]="110"
      [formControlName]="categoryAttribute.attributeTitle"
    ></prm-input-date-time-picker>
    <prm-input-textarea
      class="col-12 mb-3"
      *ngSwitchCase="'Text Area'"
      [label]="categoryAttribute.attributeTitle"
      [labelWidth]="110"
      [formControlName]="categoryAttribute.attributeTitle"
    ></prm-input-textarea>
    <prm-input-dropdown
      class="col-12 mb-3"
      *ngSwitchCase="'Select'"
      [label]="categoryAttribute.attributeTitle"
      [labelWidth]="110"
      [formControlName]="categoryAttribute.attributeTitle"
      [items]="items"
    ></prm-input-dropdown>
    <prm-input-multi-select
      class="col-12 mb-3"
      *ngSwitchCase="'Multi Select'"
      [label]="categoryAttribute.attributeTitle"
      [labelWidth]="110"
      [formControlName]="categoryAttribute.attributeTitle"
      [items]="items"
    ></prm-input-multi-select>
    <prm-input-checkbox-single
      class="col-12 mb-3"
      *ngSwitchCase="'CheckBox'"
      [label]="categoryAttribute.attributeTitle"
      [labelWidth]="110"
      [formControlName]="categoryAttribute.attributeTitle"
    ></prm-input-checkbox-single>
  </ng-container>
</form>
