<!-- <form class="form-row" [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let item of attributes">
    <div [ngSwitch]="attributeTypes[item.attributeTypeId]" class="mb-2">
      <prm-input-text
        *ngSwitchCase="'Text'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [placeholder]="item.placeholder ? item.placeholder : ''"
        [readonly]="item.readonly"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
      ></prm-input-text>
      <prm-input-dropdown
        *ngSwitchCase="'dropdown'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [placeholder]="item.placeholder ? item.placeholder : ''"
        [readonly]="item.readonly"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
        [items]="item.dropdownItems"
      ></prm-input-dropdown>
      <prm-input-multi-select
        *ngSwitchCase="'dropdown'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [placeholder]="item.placeholder ? item.placeholder : ''"
        [readonly]="item.readonly"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
        [items]="item.dropdownItems"
      ></prm-input-multi-select>
      <prm-input-checkbox-single
        *ngSwitchCase="'checkbox'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControl]="form.get(item.formControlName)"
      ></prm-input-checkbox-single>
    </div>
  </ng-container>
</form> -->
