:host {
    #agGrid {
        width: 100%;
    }
    .ag-theme-balham {
        margin-top: 20px !important;
    }
    .ag-header-cell-label {
        justify-content: center;
    }
    .ag-header-group-text {
        margin: 0 auto;
        float: none;
    }
}