<ag-grid-angular
  class="ag-theme-alpine w-100 h-100"
  [enableSorting]="enableSorting"
  [enableFilter]="enableFilter"
  [pagination]="pagination"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [enableRtl]="true"
  [animateRows]="true"
  [suppressRowClickSelection]="true"
  [components]="components"
  [rowSelection]="rowSelection"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)"
  (rowSelected)="onRowSelected($event)"
  (selectionChanged)="onSelectionChanged($event)"
  (cellValueChanged)="onCellValueChanged($event)"
></ag-grid-angular>
