<prm-input-container [config]="containerConfig">
  <div class="image-preview rounded border border-secondary">
    <div>
      <img
        class="rounded"
        [src]="imageToShow || 'assets/images/plc.png'"
      />
    </div>
    <div class="d-flex align-content-center">
      <prm-input-file
        [disabled]="disabled"
        [errors]="errors"
        (onSelect)="onSelectImage($event)"
      ></prm-input-file>
      <prm-button
        class="ml-2"
        icon="fa fa-times"
        color="danger"
        *ngIf="imageToShow"
        (click)="clear()"
      ></prm-button>
    </div>
  </div>
</prm-input-container>
