<page-container title="درج / ویرایش محصول">
  <prm-button
    *ngIf="!activeIndex"
    label="افزودن"
    icon="fa fa-plus"
    color="success"
    (click)="addProduct()"
  >
  </prm-button>
  <p-tabView [activeIndex]="activeIndex">
    <p-tabPanel
      header="اطلاعات پایه"
      [disabled]="activeIndex && activeIndex != 0"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="primaryFormGroup" class="form-row">
              <prm-input-dropdown
                *ngIf="convertedBrands"
                formControlName="brandId"
                class="col-12 mb-4"
                label="برند"
                labelWidth="110"
                [items]="convertedBrands"
              ></prm-input-dropdown>
              <prm-input-text
                formControlName="commission"
                class="col-12 mb-4"
                label="کمیسیون"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-text
                formControlName="name"
                class="col-12 mb-4"
                label="نام"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-text
                formControlName="nameEn"
                class="col-12 mb-4"
                label="نام انگلیسی"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-textarea
                formControlName="description"
                class="col-12 mb-4"
                label="توضیحات"
                labelWidth="110"
              ></prm-input-textarea>
              <prm-input-textarea
                formControlName="descriptionSeo"
                class="col-12 mb-4"
                label="توضیحات سئو"
                labelWidth="110"
              ></prm-input-textarea>
              <prm-input-tags
                formControlName="gainPoints"
                class="col-12 mb-4"
                label="نقاط قوت"
                labelWidth="110"
              ></prm-input-tags>
              <prm-input-tags
                formControlName="weakPoints"
                class="col-12 mb-4"
                label="نقاط ضعف"
                labelWidth="110"
              ></prm-input-tags>

              <div
                *ngIf="activeIndex && activeIndex == 0"
                class="col-12 d-flex justify-content-end align-items-center border-top mt-4 py-4"
                (click)="onEditPrimary()"
              >
                <button class="col-12 btn btn-block btn-success">ذخیره</button>
              </div>
            </form>
          </div>
          <div
            *ngIf="activeIndex && activeIndex == 0"
            class="col-12 d-flex justify-content-end align-items-center border-top mt-4 py-4"
            (click)="onEditPrimary()"
          >
            <button class="col-12 btn btn-block btn-success">ذخیره</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel
      header="دسته بندی و فیلدها"
      [disabled]="activeIndex && activeIndex != 1"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <p-tree
              *ngIf="convertedCategories"
              class="col-12 mb-4"
              selectionMode="single"
              [(selection)]="selectedCategory"
              [value]="convertedCategories"
              (selectionChange)="onSelectCategory($event)"
              dir="rtl"
            >
            </p-tree>
          </div>
        </div>
        <fields
          *ngIf="selectedCategoryAttributes"
          (valueChange)="onChangeAttributes($event)"
          [categoryAttributes]="selectedCategoryAttributes"
        ></fields>
        <div class="row" *ngIf="activeIndex && activeIndex == 1">
          <div
            class="col-12 d-flex justify-content-end align-items-center border-top mt-4 py-4"
            (click)="onEditAttributes()"
          >
            <button class="col-12 btn btn-block btn-success">ذخیره</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="عکس ها" [disabled]="activeIndex && activeIndex != 2">
      <multi-image-picker
        [images]="productImages"
        [defaultImage]="productDefaultImage"
        (onChange)="onImageChange($event)"
      ></multi-image-picker>
      <div class="row" *ngIf="activeIndex && activeIndex == 2">
        <div
          class="col-12 d-flex justify-content-end align-items-center border-top mt-4 py-4"
          (click)="onEditImages()"
        >
          <button class="col-12 btn btn-block btn-success">ذخیره</button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel
      header="سوالات سنجشی"
      [disabled]="activeIndex && activeIndex != 3"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="pointTypeFormGroup" class="form-row">
              <prm-input-multi-select
                *ngIf="convertedPointTypes"
                formControlName="pointTypeId"
                class="col-12 mb-4"
                label="سوال سنجشی"
                labelWidth="110"
                [items]="convertedPointTypes"
              ></prm-input-multi-select>
            </form>
          </div>
          <div
            *ngIf="activeIndex && activeIndex == 3"
            class="col-12 d-flex justify-content-end align-items-center border-top mt-4 py-4"
            (click)="onEditPoints()"
          >
            <button class="col-12 btn btn-block btn-success">ذخیره</button>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel
      header="قیمت و رنگ"
      [disabled]="activeIndex && activeIndex != 4"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="secondaryFormGroup" class="form-row">
              <prm-input-dropdown
                *ngIf="convertedColors"
                formControlName="colorId"
                class="col-12 mb-4"
                label="رنگ"
                labelWidth="110"
                [items]="convertedColors"
              ></prm-input-dropdown>
              <prm-input-dropdown
                *ngIf="convertedWarranries"
                formControlName="warrantyId"
                class="col-12 mb-4"
                label="گارانتی"
                labelWidth="110"
                [items]="convertedWarranries"
              ></prm-input-dropdown>
              <prm-input-dropdown
                *ngIf="convertedInsurance"
                formControlName="insuranceId"
                class="col-12 mb-4"
                label="بیمه"
                labelWidth="110"
                [items]="convertedInsurance"
              ></prm-input-dropdown>
              <prm-input-checkbox-single
                formControlName="isReference"
                class="col-12 mb-4"
                label="قیمت مرجع"
                labelWidth="110"
              ></prm-input-checkbox-single>
              <prm-input-text
                formControlName="price"
                class="col-12 mb-4"
                label="قیمت"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-text
                formControlName="disCountPrice"
                class="col-12 mb-4"
                label="تخفیف"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-text
                formControlName="period"
                class="col-12 mb-4"
                label="حداکثر زمان ارسال"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-text
                formControlName="localCode"
                class="col-12 mb-4"
                label="کد داخلی"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-text
                formControlName="qty"
                class="col-12 mb-4"
                label="تعداد"
                labelWidth="110"
              ></prm-input-text>
              <prm-input-text
                formControlName="maxQty"
                class="col-12 mb-4"
                label="بیشترین تعداد درخواست"
                labelWidth="110"
              ></prm-input-text>
              <div
                *ngIf="activeIndex && activeIndex == 4"
                class="col-12 d-flex justify-content-end align-items-center border-top mt-4 py-4"
                (click)="onEditSecondary()"
              >
                <button class="col-12 btn btn-block btn-success">ذخیره</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</page-container>
