<div class="ui-g-12">
  <div class="ui-form color-11">
    <div class="card">
      <div style="margin-top: 10px;">
        <div class="ui-g-12 ui-lg-12 ui-md-12">
          <div class="ui-form color-2">
            <div class="card">
              <h3 class="mb-5 mt-3">Select a <strong>pdf</strong> file</h3>
              <div>
                <div class="upload-box-content">
                  <div
                    class="drop-container"
                    ngFileDrop
                    [options]="optionsUp"
                    (uploadOutput)="onUploadOutput($event)"
                    [uploadInput]="uploadInput"
                  >
                    <p>
                      <!-- فایل خود را در این مکان رها کرده -->
                      <label class="upload-button">
                        <input
                          #uploader
                          type="file"
                          ngFileSelect
                          [options]="optionsUp"
                          (uploadOutput)="onUploadOutput($event)"
                          [uploadInput]="uploadInput"
                          multiple
                        />
                      </label>
                      <!-- کلیک کنید -->
                    </p>
                  </div>
                  <div
                    class="upload-item"
                    *ngFor="let f of files; let i = index"
                  >
                    <div class="upload-item-content" *ngIf="files.length > 0">
                      <div class="filename">
                        <i class="ionicon ion-ios-copy"></i>
                        <span>{{ f.name }}</span>
                      </div>
                      <div class="progress-content">
                        <div class="progress">
                          <span
                            class="bar"
                            [style.width]="f?.progress?.data?.percentage + '%'"
                            [class.is-done]="
                              f?.progress?.data?.percentage === 100
                            "
                          ></span>
                        </div>
                      </div>
                      <div class="progress-text-content">
                        <span
                          class="progress-text"
                          [class.is-done]="
                            f?.progress?.data?.percentage === 100
                          "
                        >
                          <span *ngIf="f.progress?.data?.percentage !== 100">
                            درحال آپلود
                          </span>
                          <span *ngIf="f.progress?.data?.percentage === 100">
                            آپلود شد
                          </span>
                          <span>{{ f.progress?.data?.percentage }}% </span>
                        </span>
                        <span
                          class="speed-and-eta-text"
                          *ngIf="
                            f.progress?.data?.percentage !== 0 &&
                            f.progress?.data?.percentage !== 100
                          "
                        >
                          <span>{{ f.progress?.data?.speedHuman }} </span>
                          <span>ETA {{ f.progress?.data?.etaHuman }}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="files.length > 0">
                <div class="ui-helper-clearfix" *ngFor="let f of files">
                  <span
                    class="ui-panel-title"
                    style="display: inline-block; text-align: center;"
                    >{{ f.name }}
                  </span>
                  <a
                    style="float: left;"
                    [ngClass]="{
                      'ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all': true
                    }"
                    tabindex="0"
                    role="button"
                    (click)="delete(f)"
                  >
                    <span class="pi pi-times"></span>
                  </a>
                </div>
              </div>
              <p-toolbar>
                <div class="toolbar">
                  <button
                    pButton
                    type="button"
                    label="{{ files.length }} files selected for upload"
                    [disabled]="files.length < 1"
                    (click)="startUpload()"
                    icon="pi pi-plus"
                    iconPos="right"
                  ></button>
                </div>
              </p-toolbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
