.statistic-card {
    padding: 5px;
    margin: 0 !important;
    .content {
        height: 70px;
        padding: 10px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 1px grey;
        border-radius: 3px;
        .title,
        .value {
            margin: 0;
            color: #fff;
            font-size: 17pt;
        }
        .title {
            opacity: .8;
            font-size: 11pt;
        }
        .icon {
            color: #fff;
            font-size: 30pt;
            position: absolute;
            top: 20px;
            left: 20px;
            opacity: .7;
            transition: transform .4s ease-in-out;
        }
        &:hover {
            .icon {
                transform: scale(1.5, 1.5);
                transition: transform .3s ease-in-out;
            }
        }
    }
}