<page-container title="درج/ویرایش دسته بندی" *ngIf="originalCategories">
  <prm-button
    label="ذخیره"
    icon="fa fa-plus"
    color="success"
    (click)="onSubmitClick()"
  >
  </prm-button>
  <form [formGroup]="form">
    <prm-input-text
      formControlName="title"
      class="mb-3 d-block"
      labelWidth="150"
      label="عنوان دسته بندی"
    ></prm-input-text>
    <prm-input-text
      formControlName="icon"
      class="mb-3 d-block"
      labelWidth="150"
      label="آیکن"
    ></prm-input-text>
    <prm-input-text
      formControlName="link"
      class="mb-3 d-block"
      labelWidth="150"
      label="لینک"
    ></prm-input-text>
  </form>

  <div class="d-flex mb-2">
    <p-tree
      selectionMode="single"
      [(selection)]="selectedParentNode"
      (onNodeSelect)="onNodeSelect($event)"
      [value]="convertedCategories"
      dir="rtl"
      class="rtl ui-rtl flex-grow-1"
    >
    </p-tree>
    <div style="width: 150px" class="ml-3">انتخاب دسته بندی والد</div>
  </div>
</page-container>
