<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12">
      <ag-tablee [data]="rowData" [columns]="columnDefs"></ag-tablee>
      <!--  <simple-table></simple-table>
      <simple-table-c
        [data]="rowData"
        [header]="[
        {
        field:'name',
        headerName:'name',
        headerClass:'',
        clickable:true
      },
        {
        field:'continent',
        headerName:'continent',
        headerClass:'',
        clickable:true
      },
        {
        field:'language',
        headerName:'language',
        headerClass:'',
        clickable:true
      }
      ]"
      ></simple-table-c> -->
    </div>
  </div>
</div>
