@import "./fonts/fonts.scss";
@import "./vendor/bootstrap.scss";
@import "theme.scss";

html,
body {
  height: 100%;
  .ui-widget {
    font-family: IRANSans;
    [class|="ui"]:not([class*="pi"]):not([class*="fa"]):not([class*="ql"]) {
      font-family: inherit;
    }
  }

  .ui-dialog .ui-dialog-content {
    overflow: visible;
  }

  .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:focus {
    box-shadow: none !important;
  }

  body
    .ui-panelmenu
    .ui-panelmenu-content
    .ui-menuitem
    .ui-menuitem-link
    .ui-menuitem-icon {
    margin-right: 0;
    margin-left: 0.5em;
  }

  p-panelmenusub ::ng-deep > ul {
    margin-left: 0;
    margin-right: 1.5rem;
  }

  *:focus {
    outline: none;
  }
}
